{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block title %}Mentash Portfolio{% endblock title %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>

    {% if page.body %}
        {{ page.body|richtext }}
    {% endif %}

    {% if page.image %}
        {% image page.image fill-600x600 format-jpeg as profile_img %}
        <img src="{{ profile_img.url }}" alt="{{ page.image.title }}">
    {% endif %}


{#{% include 'home/welcome_page.html' %}#}

{% endblock content %}
