<!-- Navbar -->
<header class="navbar navbar-expand-md navbar-light d-print-none sticky-top bg-white border-bottom">
    <div class="container-xl">
        <a class="navbar-brand navbar-brand-autodark fw-bold" href="#top">
            Portfolio
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="site-nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link" href="#certifications">Certifications</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
            </ul>
        </div>
    </div>
</header>
